/* SEMPRE PARA TRABALHAR COM CSS O ELEMENTO FLEX É O PAI, POR ISSOESTOU MEXENDO NO CONTAINER*/
.cabecalhoPrincipal .container {
    display: flex;
    align-items: center; /*  Alinha os elementos filhos no centro do elemento flex */
    justify-content: space-between; /* Da um espaço entre os elementos, joga cada um para um canto */
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /* flex-direction: column; */ /* Por padrão é row */
    /* flex-wrap: wrap; */ /* quando acabar o espaço joga para o lado */
    flex-flow: column wrap; /* Faz o mesmo que as duas linhas de cima, só que resumido */
    height: 250px;
}